.radiobuttonContainer{
    margin: 20px;
    padding-top: 20px;
    display: flex;
}

.labelRadiobutton {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

.labelRadiobutton input {
    width: 1px;
    height: 1px ;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radiobuttonAnswer{
    color: white;
    margin: 1px;
}

.radiobtnSpan {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #282c34;
    border-radius: 50%;
    border: 2px solid  rgb(156, 155, 155);
}

.labelRadiobutton input:hover ~ .radiobtnSpan {
    box-shadow:  0 0 0 1rem rgba(221, 218, 218, 0.25);
    transition: .4s;
}

.labelRadiobutton input:focus ~ .radiobtnSpan{
    box-shadow: 0 0 0 1rem rgba(221, 218, 218, 0.25);
    transition: .4s;
}

.labelRadiobutton input:checked ~ .radiobtnSpan {
    background-color: #282c34;
}

.radiobtnSpan:after {
    content: "";
    position: absolute;
    display: none;
}

.labelRadiobutton input:checked ~ .radiobtnSpan:after {
    display: block;
}

.labelRadiobutton input:checked ~ .radiobtnSpan {
    border-color: #6200eeff;
}

.labelRadiobutton .radiobtnSpan:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background:  #6200eeff;
}

.labelRadiobutton input:disabled ~ .radiobtnSpan{
    background-color: lightgrey;
    opacity: .3;
}

.labelRadiobutton input:checked:disabled ~.radiobtnSpan{
    background-color: lightgrey;
    opacity: .3;
}

