.textInputFieldContainer{
    position: relative;
    width: 280px;
    height: 56px;
    margin: 30px;
  }
  
  .textInputField{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: lightgray;
    border-bottom: 1px solid darksalmon;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 1rem;
    outline: none;
    position: absolute;
    line-height: 24px;
    top: 0px;
    left: 0px;
    padding-left: 12px;
    display: block;
    box-sizing: border-box;
    cursor: pointer;
    transition: .3s;
  }

  .textInputField:hover{
    background-color: rgb(165, 164, 164);
  }
  
  label{
    font-size: 16px;
    position: absolute;
    bottom: 16px;
    left: 0px; 
    line-height: 16px; 
    transform: translateY(0px) translateX(12px) scale(1.0);
    transform-origin: 0 0;
    transition: all 0.5s linear;
    color: black;
  }

  .textInputField:focus{
    background-color: lightgrey;
  }
  
  .textInputField:focus + label{
    position: absolute;
    color: rgb(139, 39, 139);
    transform: translateY(-15px) translateX(12px) scale(0.75);
    transform-origin: 0 0;
    transition: all 0.5s linear;
  }

  .textInputField:valid + label{
    position: absolute;
    color: rgb(139, 39, 139);
    transform: translateY(-15px) translateX(12px) scale(0.75);
    transform-origin: 0 0;
    transition: all 0.5s linear;
  }

  .textInputField:disabled:valid + label{
    position: absolute;
    color: rgb(139, 39, 139);
    transform: translateY(-15px) translateX(12px) scale(0.75);
    transform-origin: 0 0;
    transition: all 0.5s linear;
  }
  
  .textInputFieldBottom{
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0px;
    left: 50%;
    background-color: red;
    transform: translateX(-50%);
    transform-origin: center;
    transition: 0.5s;
  }
  
  .textInputField:focus ~ .textInputFieldBottom{
    width: 100%;
    background-color: darkorange;
  }
  
 .textInputField:disabled{
  pointer-events: none;
  opacity: .3;
  transition: .3s;
 }  