:root{
  width: 100%
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.textInputFieldContainer{
  position: relative;
  width: 280px;
  height: 56px;
}

.textInputField{
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: lightgray;
  border-bottom-color: rgb(0, 0, 0);
  border-bottom: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1rem;
  outline: none;
  position: absolute;
  padding-left: 12px;
  line-height: 24px;
  top:0px;
  left: 0px;
}

.textInputField:focus{
  border-bottom: 2px solid rgb(233, 121, 233);
}

label{
  font-size: 1rem;
  padding-left: 12px;
  padding-right: 12px;
  position: absolute;
  top: 16px;
  left: 0px;  
}

.textInputField:focus + label{
  font-size: 0.8rem;
  padding: 12px;
  position: absolute;
  top: -8px;
  left:0px;
}

